

.App {
  text-align: center;
  justify-content: center;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  justify-content: center;

}

input {
  /* margin: 1rem ; */
  width: 286px;
  height: 90px;
  background-color: #242530;
  color: white;
  border: none;
  text-align: right;
  font-size: 30px;
  padding-bottom: 10px;
  /* margin-bottom: 0%; */
  border-radius: 10px;
  margin-bottom: -17px;
}

input:active {
  border: none;
}

.container {
  /* width: fit-content; */
  /* align-content: center; */
  /* height: 1200px; */
  width: 290px;
  margin: 100px auto;
}

.keypad {

  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;

  padding: 10px;
  margin: 0;

  background-color: #242530;
}

button {

  width: 70px;
  height: 70px;
  color: white;
  background: #2C2D3C;
  border: none;
  margin: 1px;
  border-radius: 50%;
  font-size: large;
}

.keypad:nth-child(3) {
  column-span: 3/5;
}

.keypad:last-child {}

.calculate {

  background-color: #F0B410;
}

.clear {
  color: #C16121;
}

.operations {
  color: #F0B410;
}